
x-airflow-common: &airflow-common
  image: apache/airflow:2.9.3
  env_file:
    - .env
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres_airflow:5432/airflow
    AIRFLOW_CONN_POSTGRES_DW: postgresql://dw:dw@postgres_dw:5432/dw
  volumes:
    - ./dags:/opt/airflow/dags
    - ./sql:/opt/airflow/sql:ro
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    postgres_airflow:
      condition: service_healthy

services:

  postgres_airflow:
    image: postgres:14
    container_name: postgres_airflow
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow_pg_vol:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

 
  postgres_dw:
    image: postgres:15
    container_name: postgres_dw
    environment:
      POSTGRES_USER: dw
      POSTGRES_PASSWORD: dw
      POSTGRES_DB: dw
    ports:
      - "5432:5432"
    volumes:
      - dw_pg_vol:/var/lib/postgresql/data
      - ./sql:/opt/sql:ro
      - ./data:/opt/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dw -d dw"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    depends_on:
      postgres_airflow:
        condition: service_healthy
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: "true"
      _AIRFLOW_WWW_USER_CREATE: "true"
      _AIRFLOW_WWW_USER_USERNAME: "admin"
      _AIRFLOW_WWW_USER_PASSWORD: "admin"
    command: >
      bash -lc "airflow db migrate &&
               airflow users create
               --username admin --password admin
               --firstname admin --lastname admin
               --role Admin --email admin@example.com || true"
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow_webserver
    depends_on:
      postgres_airflow:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    ports:
      - "8084:8080"
    command: webserver
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow_scheduler
    depends_on:
      postgres_airflow:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    command: scheduler
    restart: always

volumes:
  airflow_pg_vol:
  dw_pg_vol: